In [10]:
import pandas as pd

data = pd.read_csv(r"C:\Users\ASUS\Documents\Skill Learning\Data Analyst Path\Data Source\amazon_product.csv")

data

,Unnamed: 0,asin,product_title,product_price,product_original_price,currency,product_star_rating,product_num_ratings,product_url,product_photo,...,is_best_seller,is_amazon_choice,is_prime,climate_pledge_friendly,sales_volume,delivery,has_variations,product_availability,unit_price,unit_count
0,0,B0BQ118F2T,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,$169.99,USD,4.0,2929,https://www.amazon.com/dp/B0BQ118F2T,https://m.media-amazon.com/images/I/61K1Fz5Lxv...,...,False,False,True,False,6K+ bought in past month,"FREE delivery Tue, Aug 6",True,NaN,NaN,NaN
1,1,B0CTD47P22,"SAMSUNG Galaxy A15 5G (SM-156M/DSN), 128GB 6GB...",$149.74,$158.00,USD,4.2,135,https://www.amazon.com/dp/B0CTD47P22,https://m.media-amazon.com/images/I/51QhB2CfqS...,...,False,False,True,False,3K+ bought in past month,"FREE delivery Wed, Aug 7 Only 7 left in stock ...",False,Only 7 left in stock - order soon.,NaN,NaN
2,2,B0CHH6X6H2,Total by Verizon | Samsung Galaxy A03s | Locke...,$49.88,NaN,USD,3.9,205,https://www.amazon.com/dp/B0CHH6X6H2,https://m.media-amazon.com/images/I/812woqv69C...,...,False,False,True,False,2K+ bought in past month,"FREE delivery Tue, Aug 6",False,NaN,NaN,NaN
3,3,B0BZ9XNBRB,Google Pixel 7a - Unlocked Android Cell Phone ...,$335.00,$499.00,USD,4.3,2248,https://www.amazon.com/dp/B0BZ9XNBRB,https://m.media-amazon.com/images/I/61r7cCpQPl...,...,False,False,False,False,10K+ bought in past month,FREE delivery Aug 6 - 8,True,NaN,NaN,NaN
4,4,B0CN1QSH8Q,"SAMSUNG Galaxy A15 5G A Series Cell Phone, 128...",$199.99,NaN,USD,4.1,423,https://www.amazon.com/dp/B0CN1QSH8Q,https://m.media-amazon.com/images/I/61s0ZzwzSC...,...,False,False,True,True,3K+ bought in past month,"FREE delivery Tue, Aug 6",True,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,59,B0D6LWXK1R,Greatish Hits: I Followed My Dreams and My Dre...,$34.98,NaN,USD,NaN,0,https://www.amazon.com/dp/B0D6LWXK1R,https://m.media-amazon.com/images/I/815otxMW0i...,...,False,False,False,False,50+ bought in past month,FREE delivery on $35 shipped by Amazon.This ti...,False,NaN,NaN,NaN
60,60,B0CLKQF5HR,Swan Song,$14.99,$30.00,USD,4.4,14471,https://www.amazon.com/dp/B0CLKQF5HR,https://m.media-amazon.com/images/I/71dSn3QCY6...,...,True,False,False,False,Print List Price:,Available instantly,False,NaN,NaN,NaN
61,61,B0BZFHK12K,Bluey: Let&#x27;s Play!,$0.00,NaN,USD,3.5,270,https://www.amazon.com/dp/B0BZFHK12K,https://m.media-amazon.com/images/I/617GUqQEIC...,...,False,False,False,False,"Jul 7, 2023",Available instantly on compatible devices,False,NaN,NaN,NaN
62,62,B09Z7J4L6X,Xbox Wireless Controller â€“ Sky Cipher Special ...,$69.99,NaN,USD,2.6,12,https://www.amazon.com/dp/B09Z7J4L6X,https://m.media-amazon.com/images/I/71i2tEKlZ2...,...,True,False,False,False,"Aug 13, 2024",FREE deliveryThis item will be released on Aug...,False,NaN,NaN,NaN
63,63,B0CT2R7199,HP DeskJet 2855e Wireless All-in-One Color Ink...,$59.99,$84.99,USD,4.0,48154,https://www.amazon.com/dp/B0CT2R7199,https://m.media-amazon.com/images/I/61+biEwB1h...,...,True,False,False,True,80K+ bought in past month,FREE delivery,False,NaN,NaN,NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   64 non-null     int64
 1   asin                         64 non-null     object
 2   product_title                64 non-null     object
 3   product_price                64 non-null     object
 4   product_original_price       27 non-null     object
 5   currency                     64 non-null     object
 6   product_star_rating          54 non-null     float64
 7   product_num_ratings          64 non-null     int64
 8   product_url                  64 non-null     object
 9   product_photo                64 non-null     object
 10  product_num_offers           64 non-null     int64
 11  product_minimum_offer_price  64 non-null     object
 12  is_best_seller               64 non-null     bool
 13  is_amazon_choice             64 non-null     bool
 14  is_prime                     64 non-null     bool
 15  climate_pledge_friendly      64 non-null     bool
 16  sales_volume                 61 non-null     object
 17  delivery                     63 non-null     object
 18  has_variations               64 non-null     bool
 19  product_availability         1 non-null      object
 20  unit_price                   5 non-null      object
 21  unit_count                   5 non-null      float64
dtypes: bool(5), float64(2), int64(3), object(12)
memory usage: 8.9+ KB

In [25]:
# use this to see temporarly all data without ... "use pd not df"
pd.option_context("display.max_rows", 80)

In [ ]:
# im trying to figure it out whether the currency only have USD only or more
data['currency'].nunique()

1

In [5]:
data.columns

Index(['Unnamed: 0', 'asin', 'product_title', 'product_price',
       'product_original_price', 'currency', 'product_star_rating',
       'product_num_ratings', 'product_url', 'product_photo',
       'product_num_offers', 'product_minimum_offer_price', 'is_best_seller',
       'is_amazon_choice', 'is_prime', 'climate_pledge_friendly',
       'sales_volume', 'delivery', 'has_variations', 'product_availability',
       'unit_price', 'unit_count'],
      dtype='object')

In [33]:
data_delete = ['Unnamed: 0', 'asin', 'product_availability', 'unit_price', 'unit_count', 'product_photo', 'product_url', 
               'is_amazon_choice', 'is_prime', 'climate_pledge_friendly', 'sales_volume', 'delivery', 'has_variations']

In [35]:
data = data.drop(columns= data_delete)

In [36]:
data

,product_title,product_price,product_original_price,currency,product_star_rating,product_num_ratings,product_num_offers,product_minimum_offer_price,is_best_seller
0,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,$169.99,USD,4.0,2929,10,$64.89,False
1,"SAMSUNG Galaxy A15 5G (SM-156M/DSN), 128GB 6GB...",$149.74,$158.00,USD,4.2,135,8,$145.87,False
2,Total by Verizon | Samsung Galaxy A03s | Locke...,$49.88,NaN,USD,3.9,205,1,$49.88,False
3,Google Pixel 7a - Unlocked Android Cell Phone ...,$335.00,$499.00,USD,4.3,2248,30,$289.99,False
4,"SAMSUNG Galaxy A15 5G A Series Cell Phone, 128...",$199.99,NaN,USD,4.1,423,2,$150.09,False
...,...,...,...,...,...,...,...,...,...
59,Greatish Hits: I Followed My Dreams and My Dre...,$34.98,NaN,USD,NaN,0,1,$34.98,False
60,Swan Song,$14.99,$30.00,USD,4.4,14471,1,$14.99,True
61,Bluey: Let&#x27;s Play!,$0.00,NaN,USD,3.5,270,1,$0.00,False
62,Xbox Wireless Controller â€“ Sky Cipher Special ...,$69.99,NaN,USD,2.6,12,1,$69.99,True
63,HP DeskJet 2855e Wireless All-in-One Color Ink...,$59.99,$84.99,USD,4.0,48154,1,$59.99,True

In [ ]:
"""
Learning Panda deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [42]:
# changing name to be capitalized

new_names = []

for i in data.columns :
    #print(i.capitalize()) || for testing
    new_names.append(i.capitalize())

In [43]:
new_names

['Product_title',
 'Product_price',
 'Product_original_price',
 'Currency',
 'Product_star_rating',
 'Product_num_ratings',
 'Product_num_offers',
 'Product_minimum_offer_price',
 'Is_best_seller']

In [44]:
data.columns = new_names

In [45]:
data.head(2)

,Product_title,Product_price,Product_original_price,Currency,Product_star_rating,Product_num_ratings,Product_num_offers,Product_minimum_offer_price,Is_best_seller
0,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,$169.99,USD,4.0,2929,10,$64.89,False
1,"SAMSUNG Galaxy A15 5G (SM-156M/DSN), 128GB 6GB...",$149.74,$158.00,USD,4.2,135,8,$145.87,False

In [ ]:
"""
Learning Panda deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [37]:
data.duplicated().sum()

0

In [66]:
data.isnull().sum()

Product_title          0
Product_price          0
Currency               0
Product_star_rating    0
Product_num_ratings    0
Product_num_offers     0
Is_best_seller         0
dtype: int64

In [52]:
data.drop(columns = ['Product_original_price', 'Product_minimum_offer_price'], inplace = True)

In [65]:
data.dropna(inplace = True)

In [67]:
data.head()

,Product_title,Product_price,Currency,Product_star_rating,Product_num_ratings,Product_num_offers,Is_best_seller
0,Moto G Play 2023 3-Day Battery Unlocked Made f...,$99.99,USD,4.0,2929,10,False
1,"SAMSUNG Galaxy A15 5G (SM-156M/DSN), 128GB 6GB...",$149.74,USD,4.2,135,8,False
2,Total by Verizon | Samsung Galaxy A03s | Locke...,$49.88,USD,3.9,205,1,False
3,Google Pixel 7a - Unlocked Android Cell Phone ...,$335.00,USD,4.3,2248,30,False
4,"SAMSUNG Galaxy A15 5G A Series Cell Phone, 128...",$199.99,USD,4.1,423,2,False

In [ ]:
"""
Learning Panda deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [72]:
data['Is_best_seller'].value_counts()

Is_best_seller
False    34
True     20
Name: count, dtype: int64

In [77]:
# now we gonna change True n False to 1 and 0
data['Is_best_seller'] = data['Is_best_seller'].apply(lambda x: 1 if x == True else 0)
#print(data['Is_best_seller'].value_counts())

#alternative turn it into int, same result 
#data['Is_best_seller'].astype(int)
#print(data['Is_best_seller'].value_counts())

In [85]:
pd.reset_option('display.max_rows')
print(data['Currency'])

0     USD
1     USD
2     USD
3     USD
4     USD
5     USD
6     USD
7     USD
8     USD
9     USD
10    USD
11    USD
12    USD
13    USD
14    USD
15    USD
16    USD
17    USD
18    USD
19    USD
20    USD
21    USD
23    USD
24    USD
25    USD
26    USD
29    USD
30    USD
31    USD
33    USD
35    USD
36    USD
37    USD
38    USD
39    USD
41    USD
42    USD
43    USD
44    USD
45    USD
47    USD
48    USD
49    USD
50    USD
51    USD
54    USD
55    USD
56    USD
57    USD
58    USD
60    USD
61    USD
62    USD
63    USD
Name: Currency, dtype: object

In [89]:
data['Product_price'] = data['Product_price'].str.replace('$', '')

In [91]:
# also dont forget to change int to actual float
data['Product_price'] = data['Product_price'].astype(float)

In [94]:
# double check
type(data['Product_price'][0])

numpy.float64

In [96]:
# or we can just round it
data['Product_price'] = data['Product_price'].apply(lambda x: round(x))

In [ ]:
# always double check everthing
type(data['Product_star_rating'][0])

numpy.float64

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 54 entries, 0 to 63
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Product_title        54 non-null     object
 1   Product_price        54 non-null     int64
 2   Currency             54 non-null     object
 3   Product_star_rating  54 non-null     float64
 4   Product_num_ratings  54 non-null     int64
 5   Product_num_offers   54 non-null     int64
 6   Is_best_seller       54 non-null     int64
dtypes: float64(1), int64(4), object(2)
memory usage: 5.4+ KB

In [107]:
new_file = 'Amazon_Cleaned_data.CSV'

path = data.to_csv(rf'C:\Users\ASUS\Documents\Skill Learning\Data Analyst Path\Python\Learning Panda\Data Science with Onur\{new_file}', index= False)

print(f'file is saved as : {new_file}')

file is saved as : Amazon_Cleaned_data.CSV