In [26]:
import pandas as pd

data = pd.read_csv(r"C:\Users\ASUS\Documents\Skill Learning\Data Analyst Path\Data Source\netflix1.csv\netflix1.csv")

data

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016,TV-Y7,1 Season,Kids' TV

In [ ]:
"""
deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [27]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [54]:
new_column = ['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'duration', 'listed_in']

bad_column = ['rating']

In [29]:
len(new_column)

9

In [60]:
data.drop(columns= bad_column, inplace= True)

In [62]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'duration', 'listed_in'],
      dtype='object')

In [65]:
"""
deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

'\ndeleting redundant columns.\nrenaming the columns.\ndropping duplicates.\nremove the NaN values.\ncheck fo some more Transformation.\n'

In [71]:
new_sop= []

for i in data.columns:
    new_sop.append(i.capitalize())

In [72]:
new_sop

['Show_id',
 'Type',
 'Title',
 'Director',
 'Country',
 'Date_added',
 'Release_year',
 'Duration',
 'Listed_in']

In [73]:
data.columns = new_sop

In [ ]:
data.head()

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [ ]:
"""
deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [76]:
data.duplicated().sum()

0

In [ ]:
# if duplicates use 
data.drop_duplicates(inplace= True)

In [ ]:
"""
deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [77]:
data.isna().sum()

Show_id         0
Type            0
Title           0
Director        0
Country         0
Date_added      0
Release_year    0
Duration        0
Listed_in       0
dtype: int64

In [ ]:
# if theres any na/null
# data.dropna(inplace= True)

In [ ]:
"""
deleting redundant columns.
renaming the columns.
dropping duplicates.
remove the NaN values.
check fo some more Transformation.
"""

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Show_id       8790 non-null   object
 1   Type          8790 non-null   object
 2   Title         8790 non-null   object
 3   Director      8790 non-null   object
 4   Country       8790 non-null   object
 5   Date_added    8790 non-null   object
 6   Release_year  8790 non-null   int64
 7   Duration      8790 non-null   object
 8   Listed_in     8790 non-null   object
dtypes: int64(1), object(8)
memory usage: 618.2+ KB

In [81]:
data["Show_id"].unique()

array(['s1', 's3', 's6', ..., 's8801', 's8784', 's8786'], dtype=object)

In [ ]:
# spliting s with id

data["Show_id"] = data["Show_id"].apply(lambda x: x.split('s')[1])

AttributeError: 'int' object has no attribute 'split'

In [ ]:
# changeing data type to be int

data["Show_id"] = data["Show_id"].astype(int)

In [94]:
type(data["Show_id"][0])

numpy.int32

In [97]:
data["Date_added"] = data["Date_added"].apply(lambda x: x.replace("/", "-"))

In [100]:
data.head(3)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9-24-2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"

In [103]:
data[data["Country"].str.contains("United", case= False)]

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
4,8,Movie,Sankofa,Haile Gerima,United States,9-24-2021,1993,125 min,"Dramas, Independent Movies, International Movies"
5,9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9-24-2021,2021,9 Seasons,"British TV Shows, Reality TV"
6,10,Movie,The Starling,Theodore Melfi,United States,9-24-2021,2021,104 min,"Comedies, Dramas"
...,...,...,...,...,...,...,...,...,...
8777,8748,TV Show,Winsanity,Not Given,United States,12-15-2018,2016,1 Season,Reality TV
8779,8756,TV Show,Women Behind Bars,Not Given,United States,11-1-2016,2010,3 Seasons,"Crime TV Shows, Docuseries"
8780,8759,TV Show,World's Busiest Cities,Not Given,United Kingdom,2-1-2019,2017,1 Season,"British TV Shows, Docuseries"
8782,8781,TV Show,Yo-Kai Watch,Not Given,United States,4-1-2016,2015,1 Season,"Anime Series, Kids' TV"
8786,8798,TV Show,Zak Storm,Not Given,United States,9-13-2018,2016,3 Seasons,Kids' TV

In [ ]:
data[data["Country"].str.contains("United", case= False)]

In [104]:
data.to_csv("Netflix_Cleared_data.csv", index= False)